.div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100px;
    height: 100px;
    color: blue;
    background-color: black;
}
.p {
    width: 50%;
    margin: 0 auto;
}
.weekdays {
    font-size: 50px;
    text-transform: capitalize;
}
.weekend {
    font-weight: 1000;
    font-size: 50px;
    color: red;
    text-transform: capitalize;
}